@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    scroll-behavior: smooth;
}

.container {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col_6 {
    width: 50%;
}

input {
    border: none;
    outline: none;
}


button {
    outline: none;
    border: none;
    cursor: pointer;
    font-family: Poppins;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-family: Poppins;
}

ul,
ol,
li {
    list-style: none;
}

.rowrev {
    flex-direction: row-reverse;
}

/* -------------  Header Section  ------------- */

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
    box-shadow: 1px 2px 10px 0px rgba(223, 0, 49, 0.10);
}

.header_container {
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav_list {
    display: flex;
    gap: 60px;
    align-items: center;
}

.nav_list span a {
    font-size: 16px;
    color: #000;
    transition: 0.3s ease-in-out;
}

.nav_list span a:hover {
    color: #DF0031;
}

.nav_list .anchor_btn {
    font-size: 13px;
    font-weight: 400;
    color: #DF0031;
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #DF0031;
    transition: 0.3s ease-in-out;
}

.nav_list .anchor_btn:hover {
    background-color: #DF0031;
    color: #fff;
}


#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 46px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -13px;
}
.menu__btn > span::after {
    content: '';
    top: 13px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

.hamburger-menu{
    display: none;
}

/* -------------  Hero Section  ------------- */

.hero_section {
    background: #FFF5F7;
    padding-block: 60px;
}

.hero_container {
    align-items: center;
}

.hero_container .hero_text h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 75px;
    color: #000;
    margin-bottom: 30px;
}

.hero_container .hero_text h1 span {
    color: #DF0031;
}

.hero_container .hero_text p {
    font-size: 16px;
    line-height: 30px;
    color: #5C5C5C;
    max-width: 610px;
    margin-bottom: 50px;
}

.hero_container .hero_text .hero_btns {
    display: flex;
    gap: 15px;
}

.hero_container .hero_text .hero_btns .anchor_btn,
.why_section .anchor_btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    border: 1px solid #DF0031;
    border-radius: 10px;
    background: #FFF;
    color: #DF0031;
    width: 193px;
    padding-block: 9px;
    text-align: center;
}

.why_section .anchor_btn {
    margin-top: 10px;
}

.hero_container .hero_text .hero_btns .anchor_btn.filled {
    color: #FFF;
    background-color: #DF0031;
}

.hero_container .hero_img {
    text-align: end;
}

/* --------------------  Why Section  ---------------- */

.why_section {
    padding-block: 120px;
}


.why_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why_container h2 {
    font-size: 40px;
    font-weight: 500;
    color: #000;
}

.swiper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-block: 60px;
}

.swiper-wrapper {
    width: 100%;
    height: 470px;
    display: flex;
    align-items: center;
}

.swiper .card {
    border-radius: 8px;
    border: 1px solid #A0A0A0;
    background: #FFF;
    padding: 20px 20px 70px 20px;
    /* width: 24px; */
    display: flex;
    flex-direction: column;
}

.swiper .card img {
    width: 100%;
    max-height: 250px;
}

.swiper .card h3 {
    font-size: 20px;
    font-weight: 500;
    color: #222;
    margin-block: 4px 10px;
}

.swiper .card p {
    color: #444;
    font-size: 14px;
    line-height: 24px;
}

.swiper-slide:not(.swiper-slide-active) {
    opacity: 0.5;
}

.swiper-slide-active {
    transform: scale(1.1) !important;
}

/* -----------  Our Services Section  ------------ */

.services_section {
    padding-block: 60px;
    background: #FFF5F7;
}

.services_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.services_container h2 {
    color: #000;
    font-weight: 500;
    font-size: 40px;
}

.services_container .services_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

.services_container .services_card {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.services_card .card_icon {
    height: 90px;
    width: 90px;
    background-color: #fff;
    border-radius: 100%;
    display: grid;
    place-items: center;
}

.services_card:hover .card_icon {
    filter: drop-shadow(1px 2px 11px rgba(223, 0, 49, 0.25));
}

.services_card h3 {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.services_card p {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #5C5C5C;
}


/* -----------  IELTS Section  ----------- */

.contact_banner {
    position: relative;
}

.contact_banner .bg_1 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.contact_banner .bg_2 {
    position: absolute;
    top: 0;
    right: 0;

}

.contact_banner_bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: contain;
}

.contact_container {
    display: flex;
    padding-block: 40px;
    gap: 30px;
}

.contact_content {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.contact_img {
    width: 30%;
}

.contact_content h2 {
    text-align: center;
    font-size: 40px;
    margin-block-end: 30px;
    margin-left: -65px;
    color: #222;
}

.contact_content h2 span {
    color: #DF0031;
    font-weight: 700;
    font-size: 40px;

}

.contact_content li {
    font-family: Poppins;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    color: #222;
}

.contact_points {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 30px;
}

.contact_points li {
    display: flex;
    gap: 12px;
}

.contact_banner a {
    height: 52px;
    border-radius: 5px;
    width: 201px;
    background: #DF0031;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    display: grid;
    place-items: center;
    transform: translate(100%);
    margin-top: 40px;
}

/* -------------  Apart Section  ------------- */

.apart_section {
    padding-block: 80px;
}

.apart_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.apart_container h2 {
    font-size: 40px;
    font-weight: 500;
    color: #000;
}

.apart_container .apart_cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.apart_container .apart_card {
    border: 1px solid #FFE7ED;
    background: #FFF;
    border-radius: 8px;
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 445px;
}

.apart_container .apart_card:hover {
    box-shadow: 1px 2px 11px 0px rgba(223, 0, 49, 0.10);
}

.apart_container .apart_card img {
    max-height: 200px;
    width: 100%;
}

.apart_container .apart_card h3 {
    margin-block: 25px 10px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.apart_container .apart_card p {
    color: #5C5C5C;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}

/* ------------  Serve  --------------- */

.serve {
    background: #FFF5F7;
    padding-block: 20px 60px;
}

.serveHead {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

.serveCard {
    gap: 25px;
    margin-top: 100px;
}

.serveCardData {
    flex-direction: column;
    gap: 25px;
}

.serveData {
    flex-direction: column;
    gap: 8px;
}

.serveData h5 {
    display: flex;
    gap: 4px;
    font-size: 20px;
    font-weight: 400;
}

.serveData p {
    color: #5C5C5C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.serveData p span {
    font-weight: 500;

}

.scrollbox {
    max-height: 250px;
    overflow-y: scroll;
    overscroll-behavior: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.scrollbox::-webkit-scrollbar {
    display: none;
}


/* ----------------- Testimonial Section ------------------ */

.carousel_2 {
    padding-block: 90px;
}

.testimonial_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.testimonial_container .testimonial_frame {
    position: absolute;
    top: 43%;
}

.testimonial_container>h2 {
    color: #222;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.testimonial_container>p {
    color: #444;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    max-width: 740px;
    margin-block: 20px 45px;
}

.owl-carousel {
    display: flex;
    max-width: 952px;
    margin: 0 auto;
}

.carousel_2 .item1 {
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
}

.carousel_2 .item1 .testimonial_upper_comma {
    position: absolute;
    width: 36px;
    height: 29px;
    top: 3px;
    left: 35px;
    transform: rotate(5deg);
}

.carousel_2 .item1 .testimonial_lower_comma {
    position: absolute;
    width: 36px;
    height: 29px;
    bottom: 2px;
    right: 35px;
}


.carousel_2 .item1 .inner_testimonial_frame {
    display: flex;
    flex-direction: column;
    gap: 19px;
    border-radius: 20px;
    border: 1px solid #DF0031;
    box-shadow: 1px 2px 15px 0px rgba(0, 46, 108, 0.10);
    align-items: center;
    padding: 24px 47px 18px 50px;
    max-width: 860px;
}

.carousel_2 .item1 p {
    text-align: center;
    color: #222;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    max-width: 750px;
}

.carousel_2 .item1 .profile {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.carousel_2 .item1 .profile p {
    color: #292D34;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.carousel_2 .item1 .profile .dp {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.owl-nav .owl-prev {
    left: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.owl-nav .owl-next {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
}

.owl-dots {
    display: none;
}

/* -----------  Newsletter Section  ----------- */


.getintouch {
    display: flex;
    gap: 60px;
}

.getinTouch_form {
    padding: 30px;
    background: #FFF;
    box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.10);
    width: 70%;
    position: relative;
}

.getinTouch_form button {
    position: absolute;
    border-radius: 5px;
    border: 1px solid #FFC107;
    background: #DF0031;
    padding: 12px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    bottom: 30px;
    width: calc(100% - 60px);
}

.form_main {
    display: flex;
    gap: 30px;
}

.getintouch h4 {
    margin-block-end: 24px;
}

.form_inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.textarea_form{
    width: 100%;
}


.form_input,
.form_textarea {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.getinTouch_form form label {
    color: #222;
    font-size: 16px;
    line-height: 27.2px;
}

.form_input input {
    border-radius: 4px;
    border: 1px solid #CED4DA;
    background: #FFF;
    padding: 13px;
}

.form_input input::placeholder {
    color: #97A3AE;
    font-size: 14px;
}

.form_textarea textarea {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #CED4DA;
    background: #FFF;
    resize: none;
    padding: 13px;
}

.gform {
    height: 100%;
}

.call_div {
    width: 30%;
}

.newsletter_section {
    background: #FFF5F7;
    backdrop-filter: blur(30px);
    padding-block: 45px 90px;
    position: relative;
}

.newsletter_section .lines_1 {
    position: absolute;
    left: 0;
    top: 0;
}

.newsletter_section .lines_2 {
    position: absolute;
    right: 0;
    top: 0;
}

.newsletter_container {
    display: flex;
    flex-direction: column;
}

.newsletter_container h2 {
    color: #DF0031;
    font-size: 42px;
    font-weight: 600;
    line-height: 50.4px;
    text-align: center;
}

.newsletter_container p {
    color: #5B5B5B;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    max-width: 730px;
    margin-block: 20px 40px;
    text-align: center;
    margin-inline: auto;
}

.call_div {
    padding: 30px;
    background: #FFF;
    box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.10);
}

.call_div h4,
.getintouch h4 {
    color: #DF0031;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
}


.call_div p {
    color: #444;
    font-size: 16px;
    line-height: 27.2px;
    margin-block: 24px 20px;
    text-align: left;
}

.call_div a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #222;
    font-size: 16px;
    line-height: 27.2px;
    text-decoration-line: underline;
}

.call_div .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thankyou_message {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-radius: 10px;
    border: 1px solid #DF0031;
    background: #FFF;
    padding: 40px 40px 0px 40px;
}

.thankyou_message img {
    max-width: 300px;
}

.thankyou_message h2 {
    color: #DF0031;
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
}

.thankyou_message p {
    color: #DF0031;
    font-size: 18px;
    font-weight: 500;
    line-height: 26.4px;
    margin-top: 10px !important;
}






/* ---------------  Footer Section  --------------- */


.footerWrapper {
    gap: 100px;
    margin-top: 80px;
}

.footer1 .footer2 {
    display: flex;
    flex-direction: column;
}

.footer1 {
    max-width: 370px;
}

.footer1 p {
    color: #5C5C5C;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* 
.footerLogos {
    gap: 20px;
    margin-top: 47px;
    margin-bottom: 42px;
}

.footerLogos .logo_frame {
    height: 40px;
    width: 40px;
    border: 1px solid #FB5F66;
    border-radius: 100%;
    display: grid;
    place-items: center;
    transition: 0.3s ease-in-out;
}

.footerLogos .logo_frame:hover {
    background-color: #FB5F66;
    filter: drop-shadow(3px 6px 20px rgba(0, 0, 0, 0.25));
}

.footerLogos .logo_frame:hover svg {
    transition: 0.3s ease-in-out;
}

.footerLogos .logo_frame:hover svg path {
    fill: #fff;
} */

hr {
    margin-top: 20px;
}

.footer2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer2 h5 {
    color: #1C345A;
    font-size: 30px;
    font-weight: 600;
}

.footer2 ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer2 ul li a {
    color: #1C345A;
    font-size: 18px;
    font-weight: 400;
}

.subFooter {
    margin-top: 37px;
}

.subFooter p {
    color: #1C345A;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
}

.subFooterend {
    gap: 40px;
    margin-top: 22px;
    margin-bottom: 48px;

}

.subFooterend a {
    color: #1C345A;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}


/* About Page */

 #viewMore{
    padding-bottom: 80px;
 }

.headAbout {
    font-size: 40px;
    font-weight: 500;
    margin-top: 45px;
    margin-bottom: 8px;
    text-align: center;
}

.headAbout2 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.aboutCard {
    gap: 150px !important;
    align-items: center;
}


.aboutCard p {
    color: #222;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.aboutCard p span {
    font-weight: 600;
}

.aboutCard h2 {
    color: #DF0031;
    font-size: 30px;
    font-weight: 500;
}

.aboutCard button {
    border-radius: 10px;
    background: #DF0031;
    color: white;
    width: 193px;
    height: 51px;
}



@media (min-width:760px) and (max-width:1000px) {

    .aboutCard img {
        width: 280px !important;

    }

    .serveCard {
        margin-top: 70px;
        flex-direction: column;
    }

    .aboutCard,
    .serveCard {
        gap: 50px !important;
    }

    .headAbout {
        font-size: 32px;
    }

    .aboutCard p {
        font-size: 15px;
    }

    .footerWrapper {
        margin-top: 50px;
    }

    .footer2 h5 {
        font-size: 25px;
    }

    .subFooterend {
        gap: 35px;
        margin-top: 13px;
        margin-bottom: 48px;
    }

    .subFooterend a {
        font-size: 16px;
    }

    .hero_container .hero_text h1 {
        font-size: 31px;
        line-height: 48px;
    }

    .hero_container .hero_img img , .serveCard img{
        max-width: 300px;
    }

    .services_card h3 {
        text-align: center;
    }
     .serveCardImg{
        display: grid;
        place-items: center;
    }

    .apart_container .apart_card p , .testimonial_container>p{
        font-size: 12px;
        line-height: 18px;
    }

    .apart_container .apart_card h3 {
        font-size: 16px;
    }

    .apart_container h2, .testimonial_container>h2, .newsletter_container h2, .why_container h2 , .contact_content h2{
        font-size: 31px;
    }

    .serveData p {
        line-height: 23px;
    }

    .serveHead {
        font-size: 30px;
    }

    .apart_card{
        width:40%;
    }

    .call_div, .getinTouch_form{
        width: 50%;
    }

    .form_main{
        flex-direction: column;
    }

    .form_textarea , .form_inputs{
        width: 100%;
    }
     .form_textarea {
        margin-block-end: 50px;
     }

     .getintouch{
        gap:30px;
     }
}

@media (max-width:760px) {
    .subFooterend{
        gap:20px;
    }
    .services_card h3 {
        text-align: center;
    }

    .hero_container, .getintouch, .footerWrapper,  .subFooterend{
        flex-direction: column;
    }
    .hero_img, .hero_text, .services_container .services_card, .getinTouch_form, .form_textarea, .call_div{
        width: 100%;
    }
    .hero_container .hero_img {
        text-align: left;
    }
    .hero_container .hero_img img, .serveCard img{
        max-width: 300px;
    }

    .serveCardImg{
        display: grid;
        place-items: center;
    }

    .hero_container .hero_text h1 {
        font-size: 31px;
        line-height: 48px;
    }

    .serveCard {
        flex-direction: column;
    }

    .serveCard {
        margin-top: 30px;
    }

    .aboutCard,
    .serveCard {
        gap: 30px !important;
    }

    .headAbout {
        font-size: 25px;
    }

    .aboutCard p {
        font-size: 13px;
        line-height: 25px;
    }

    .aboutCard button {
        border-radius: 10px;
        background: #DF0031;
        color: white;
        width: 134px;
        height: 41px;
    }

     .apart_container .apart_card, .form_inputs{
        width:100%;
    }

    .apart_container h2,.testimonial_container>h2, .newsletter_container h2, .why_container h2, .contact_content h2 {
        font-size: 28px;
        text-align: center;
    }
    .apart_container .apart_card h3, .testimonial_container>p , .newsletter_container p{
        font-size: 18px;
    }
    .testimonial_container>p, .newsletter_container p{
        margin-block-end: 20px;
    }

    .form_main{
        margin-bottom: 60px;
        flex-direction: column;
    }

}

@media (max-width: 787px){
    .nav_list{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }

    .contact_container{
        flex-direction: column;
        align-items: center;
    }
    .contact_content , .contact_img, .contac{
        width: 100%;
    }

    .contact_img{
        display: grid;
        place-items: center;
    }
}

@media screen and (max-width: 938px){
    .owl-nav{
        display: none;
    }
}

@media screen and (max-width: 620px){
    .swiper .card{
        padding: 30px;
    }
}

@media screen and (max-width: 1086px){
    .contact_banner .bg_1,  .contact_banner .bg_2, .contact_content h2 br{
        display: none;
    }

    .contact_points{
        grid-template-columns:  1fr;
    }

  .contact_container {
    gap:80px;
  }
  .contact_content h2 {
    text-align: left;
    margin-left: 0px;
  }
  .contact_banner a{
    transform: none;
  }


} 